body {
    font-family: "Light";
}

nav {
    position: sticky;
    top: 0;
    background-color: #9DE1E4;
}

.navBar {
    float: right;
}

.home-link {
    float: left;
    position: relative;
    list-style: none;
    padding-top: 15px;
    padding-right: 150px;
    padding-left: 30px;
    font-weight: bolder;
}

.indApp-link {
    float: left;
    position: relative;
    list-style: none;
    padding-top: 15px;
    padding-right: 100px;
    font-weight: bolder;
}

.propApp-link {
    float: left;
    position: relative;
    list-style: none;
    padding-top: 15px;
    padding-right: 50px;
    font-weight: bolder;
}

.signIn-link {
    float: left;
    position: relative;
    list-style: none;
    padding-top: 15px;
    padding-right: 50px;
    font-weight: bolder;
}

.header-logo {
    padding-left: 50px;
    padding-top: 25px;
}

.navContainer {
    margin: 0 auto;
    position: sticky;
}

.ctaSection {
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 50px;
    background-color: #9DE1E4;
}

.beige-building {
    width: 680px;
    height: 400px;
}

.apply-btn {
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-top: 25px;
}

.topCTA {
    font-size: 70px;
    line-height: 50px;
    padding-top: 55px;
}

.ctaText {
    font-weight: bolder;
    font-size: 20px;
}

.whiteText {
    color: white;
}

.row {
    display: flex;
}

.column {
    flex: 33%;
    list-style: none;
}

.blue-house {
    padding-left: 100px;
    height: 350px;
}

.green-box {
    height: 350px;
    padding-left: 150px;
}

.white-chair {
    height: 350px;
    padding-left: 100px;
}

.boxes {
    background-color: #EEFFFE ;
    padding-top: 35px;
    padding-bottom: 35px;
}

.partnerships {
    background-color: white;
    padding-left: 50px;
    padding-bottom: 40px;
}

.qa {
    font-weight: bolder;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 40px;
    background-color: #9DE1E4;
    margin-bottom: -20px;
}

.referral {
    padding-left: 50px;
    font-weight: bold;
    background-color: #EEFFFE;
    margin-bottom: -20px;
    line-height: 25px;
}

.referral-text {
    padding-top: 35px;
}

.present {
    width: 250px;
    height: 250px;
}

.footer  {
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: -50px;
    padding-bottom: 30px;
}

.white-logo {
    padding-top: 25px;
}

.social-icons {
    padding-top: 25px;
    padding-right: 35px;
    width: 250px;
}


.privacy-policy {
    padding-left: 1100px;
}

.copyright {
    font-size: smaller;
    padding-left: 1220px;
}
